#passwordTableContainer {
    table {
        border-spacing: 0;
        width: 90vw;
    }

    th {
        border-top: 2px
    }

    td {
        max-width: 30vw;
        overflow: scroll;
    }

    tr, td, th {
        :not(:has(button)) {
            border: 1px solid;
            border-spacing: 0;
            background-color: #293C61;

            input {
                color: #0E1C36;
                background-color: #C5CFE1;
            }
        }

        button {
            background-color: white;
        }

        padding: 5px;
    }

    .editButton {
        margin-right: 5px;
    }

}

.warning {
    border: 1px solid red;
    margin-bottom: 10px;
    max-width: 650px;
    padding: 10px;

    p {
        margin: 0 10px 0 5px;
        color: maroon;
    }

    .warningIcon {
        display: flex;
        align-items: center;

        img {
            height: 25px;
            width: 25px;
        }

    }

    background-color: lightcoral;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr auto;
}

.warningContainer {
    display: flex;
    justify-content: center;
    margin-bottom: -20px;
}

.mainContainer {
    margin-left: 10vw;
    margin-right: 10vw;
}

:root {
    background-color: #0E1C36;
    color: #C5CFE1;
}

#saveButton {
    img {
        height: 15px;
        width: 15px;
    }
}

#newPassword {
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    height: 50px;
    width: 50px;

    font-size: 40pt;
    padding: 0;
    margin: 0;

}