#passwordTableContainer {
    display: flex;
    justify-content: center;


    table {
        max-width: 80vw;
        border: 1px solid;
        border-spacing: 0;
        width: 100%;
        min-width: 475px;
    }
     tr, td, th {
         :not(:has(button)){
             border: 1px solid;
             border-spacing: 0;
             background-color: gray;
         }
         button {
             background-color: white;
         }
         :nth-child(3){
             border-right-width: 2px;
         }
    }
    .editButton {
        margin-right: 5px;
    }

}

